WebService/Service References/WCFProductos/WCFProducto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFProducto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50170/WCFProducto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50170/WCFProducto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50170/WCFProducto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_100DaysOfCode_WCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFProducto_BuscarProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProductos" />
  </wsdl:message>
  <wsdl:message name="IWCFProducto_BuscarProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFProducto_AgregarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarProducto" />
  </wsdl:message>
  <wsdl:message name="IWCFProducto_AgregarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFProducto_ModificarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarProducto" />
  </wsdl:message>
  <wsdl:message name="IWCFProducto_ModificarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFProducto_EliminarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProducto" />
  </wsdl:message>
  <wsdl:message name="IWCFProducto_EliminarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProductoResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFProducto">
    <wsdl:operation name="BuscarProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFProducto/BuscarProductos" message="tns:IWCFProducto_BuscarProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFProducto/BuscarProductosResponse" message="tns:IWCFProducto_BuscarProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFProducto/AgregarProducto" message="tns:IWCFProducto_AgregarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFProducto/AgregarProductoResponse" message="tns:IWCFProducto_AgregarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFProducto/ModificarProducto" message="tns:IWCFProducto_ModificarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFProducto/ModificarProductoResponse" message="tns:IWCFProducto_ModificarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFProducto/EliminarProducto" message="tns:IWCFProducto_EliminarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFProducto/EliminarProductoResponse" message="tns:IWCFProducto_EliminarProducto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFProducto" type="tns:IWCFProducto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarProductos">
      <soap:operation soapAction="http://tempuri.org/IWCFProducto/BuscarProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarProducto">
      <soap:operation soapAction="http://tempuri.org/IWCFProducto/AgregarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarProducto">
      <soap:operation soapAction="http://tempuri.org/IWCFProducto/ModificarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <soap:operation soapAction="http://tempuri.org/IWCFProducto/EliminarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFProducto">
    <wsdl:port name="BasicHttpBinding_IWCFProducto" binding="tns:BasicHttpBinding_IWCFProducto">
      <soap:address location="http://localhost:50170/WCFProducto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>